<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>

RewriteEngine On
# Forzar que todas las peticiones OPTIONS a archivos PHP sean procesadas por PHP
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*\.php)$ $1 [L]

# Redirecciones para router.php si es necesario
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ router.php [QSA,L]

# Configuraciones de PHP
php_value display_errors 1
php_value error_reporting E_ALL
