.onda-fondo-svg {
  background-image: url('../assets/ondas2.jpg'); /* Inserta tu SVG aquí */
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px; /* Ajusta el padding inferior según la altura de las ondas */
}