/* Fix para el doble scroll causado por animaciones de Framer Motion */
html, body {
  overflow-x: hidden;
}

.onda-fondo-svg {
  background-image: url('../assets/ondas/ondas2.webp'); /* Inserta tu SVG aquí */
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px; /* Ajusta el padding inferior según la altura de las ondas */
}

/* Botón Cotización con efecto hover */
.btn::after {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFB74D;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .4s;
  z-index: -1;
  border-radius: 5px;
 
}

.btn:hover {
  color: #fff;
}

.btn:hover::after {
  transform: scaleX(1);
}

/* Efecto titulo Agenda con nosotros */

.efecto-titulo {
  font-size: 3rem;
  background: linear-gradient(90deg, #7B1FA2, #3333ff);
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text; 
  animation: wave 4s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 200% center;
  }
  
}

