#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Intenta con estos selectores en App.css */
button.btn-continuar {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App button.btn-continuar {
  /* Agrega más estilos aquí si es necesario */
  color: red; 
  background-color: tomato;
}

/* Aumenta la especificidad */
.App button.btn-continuar.css-74d805-MuiButtonBase-root-MuiButton-root {
  background-color: #007bff !important; /* !important para anular MUI */
  color: #fff !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}